<html>
    <head>
        <title>Bevy Example Report</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>

    <body data-bs-theme="dark">
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="home" viewBox="0 0 16 16">
                <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"
                ></path>
            </symbol>
            <symbol id="chevron-right" viewBox="0 0 16 16">
                <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                ></path>
            </symbol>
            <symbol id="chevron-left" viewBox="0 0 16 16">
                <path
                    fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                />
            </symbol>
        </svg>
        <div class="container px-4" id="featured-3">
            <div class="px-4 my-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">
                    Bevy Example Tester
                </h1>
                <div class="col-lg-8 mx-auto">
                    <p class="lead mb-4">
                        Examples from the Bevy repository are where there are
                        changes in the repository. If possible, a screenshot is
                        taken and compared to the last execution.
                    </p>
                </div>
                <div class="col-lg-4 mx-auto">
                    Supported:
                    <ul class="list-group">
                        <li class="list-group-item">Linux / Vulkan</li>
                        <li class="list-group-item">macOS / Metal</li>
                        <li class="list-group-item">iOS</li>
                        <li class="list-group-item">Android</li>
                    </ul>
                    <br />
                    Work in progress:
                    <ul class="list-group">
                        <li class="list-group-item">WebGL2</li>
                        <li class="list-group-item">WebGPU</li>
                        <li class="list-group-item">Windows / DX12</li>
                    </ul>
                </div>
                <br />
                <a href="index.html" class="icon-link">
                    <svg class="bi">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                    Back to the report
                </a>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3"
                    >
                        <img
                            src="https://bevyengine.org/assets/bevy_logo_dark.svg"
                            class="bi"
                            width="100px"
                            height="50px"
                            alt="Bevy logo"
                        />
                    </div>
                    <p>
                        A refreshingly simple data-driven game engine built in
                        Rust. Free and Open Source Forever!
                    </p>
                    <a href="https://bevyengine.org" class="icon-link">
                        Bevy Website
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="feature col">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center fs-3 mb-3"
                        style="
                            font-family:
                                ui-monospace,
                                SFMono-Regular,
                                SF Mono,
                                Menlo,
                                Consolas,
                                Liberation Mono,
                                monospace !important;
                        "
                    >
                        <img
                            alt="GitHub Actions"
                            class="d-inline-block mr-3 position-relative top-1"
                            style="width: 27px; margin-right: 16px"
                            src="https://github.githubassets.com/images/modules/site/features/actions-icon-actions.svg"
                        />GitHub Actions
                    </div>
                    <p>Automate your workflow from idea to production.</p>
                    <a
                        href="https://github.com/TheBevyFlock/bevy-example-runner/actions/workflows/report-main.yml"
                        class="icon-link"
                    >
                        Execution history
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="feature col">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3"
                    >
                        <img
                            alt="Pixel Eagle"
                            class="d-inline-block mr-3 position-relative top-1"
                            style="width: 27px; margin-right: 16px"
                            src="https://pixel-eagle.com/logo-50.png"
                        />Pixel Eagle
                    </div>
                    <p>Stay pixel perfect.</p>
                    <a
                        href="https://pixel-eagle.com/project/B25A040A-A980-4602-B90C-D480AB84076D"
                        class="icon-link"
                    >
                        Bevy screenshots
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
