{# Status #}

{% macro success(class="") %}
<i class="fa-check fa-solid text-success-emphasis {{ class }}"></i>
{% endmacro %}

{% macro fail(class="") %}
<i class="fa-triangle-exclamation fa-solid text-danger {{ class }}"></i>
{% endmacro %}

{% macro changed(class="") %}
<i class="fa-star fa-solid text-warning-emphasis {{ class }}"></i>
{% endmacro %}

{% macro missing_screenshot(class="") %}
<i class="fa-eye-slash text-info-emphasis fa-regular {{ class }}"></i>
{% endmacro %}

{# Platform #}

{% macro windows(class="") %}
<i class="fa-brands fa-windows {{ class }}"></i>
{% endmacro %}

{% macro macos(class="") %}
<i class="fa-brands fa-apple {{ class }}"></i>
{% endmacro %}

{% macro ios(class="") %}
<i class="fa-brands fa-apple {{ class }}"></i>
{% endmacro %}

{% macro linux(class="") %}
<i class="fa-brands fa-linux {{ class }}"></i>
{% endmacro %}

{% macro android(class="") %}
<i class="fa-brands fa-android {{ class }}"></i>
{% endmacro %}

{% macro firefox(class="") %}
<i class="fa-brands fa-firefox-browser {{ class }}"></i>
{% endmacro %}

{% macro chrome(class="") %}
<i class="fa-brands fa-chrome {{ class }}"></i>
{% endmacro %}

{% macro safari(class="") %}
<i class="fa-brands fa-safari {{ class }}"></i>
{% endmacro %}

{% macro wasm_platform(tag) %}
<span class="platform-tooltip">
    {% if tag is starting_with("Linux") %}{{ self::linux() }}{% elif tag is starting_with("macOS") %}{{ self::macos() }}{% elif tag is starting_with("Windows") %}{{ self::windows() }}{% endif %}
    {% if tag is containing("firefox") %}{{ self::firefox() }}{% elif tag is containing("chromium") %}{{ self::chrome() }}{% elif tag is containing("webkit") %}{{ self::safari() }}{% endif %}
    {% if tag is containing("webgpu") %}<small>webgpu</small>{% elif tag is containing("webgl2") %}<small>webgl2</small>{% endif %}
    <span class="tooltiptext">wasm {{ tag }}</span>
</span>
{% endmacro %}
